[submodule "vendor/googletest"]
	path = vendor/googletest
	url = ../../google/googletest
[submodule "vendor/pybind11"]
	path = vendor/pybind11
	url = ../../pybind/pybind11
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = ../../gabime/spdlog.git
