Jan Soedingrekso <jan.soedingrekso@tu-dortmund.de> sudojan <jan.soedingrekso@tu-dortmund.de>
Jan Soedingrekso <jan.soedingrekso@tu-dortmund.de> Jan Soedingrekso <jan.soedingrekso@gmx.de>
Jan Soedingrekso <jan.soedingrekso@tu-dortmund.de> Jan Soedingrekso <jansoedingrekso@MelEs-Mac-mini.local>
Jan Soedingrekso <jan.soedingrekso@tu-dortmund.de> sudojan <jan.soedingrekso@gmx.de>
Jan Soedingrekso <jan.soedingrekso@tu-dortmund.de> Jan Soedingrekso <jansoedingrekso@e5grid00.physik.tu-dortmund.de>

Mario Dunsch <mario.dunsch@tu-dortmund.de> Mario Dunsch <mdunsch@vollmond.app.tu-dortmund.de>
Mario Dunsch <mario.dunsch@tu-dortmund.de> mario12 <mario.dunsch@tu-dortmund.de>
Mario Dunsch <mario.dunsch@tu-dortmund.de> mario12 <mdunsch@vollmond.app.tu-dortmund.de>
Mario Dunsch <mario.dunsch@tu-dortmund.de> mario <mario.dunsch@tu-dortmund.de>
     
Tomasz Fuchs <tomasz.fuchs@udo.edu> Tomasz Fuchs <tomasz.fuchs@tu-dortmund.de>

Jakob van Santen <jvansanten@gmail.com> Jacob van Santen <jacob.vansanten@icecube.wisc.edu>

Claudio Kopper <ckopper@icecube.wisc.edu> Claudio Kopper <claudio.kopper@icecube.wisc.edu>