language: cpp

notifications:
  email: false

git:
  depth: 10

env:
  global:
    - GTEST_COLOR=1
    - CMAKE_VERSION=3.10.3

jobs:
  include:
    - os: linux
      dist: bionic
      name: Python
      language: python
      python: 3.8
      before_install:
      install:
        - pip install pytest
        - pip install .
      script:
        - python -m pytest tests/python -v

    - os: linux
      dist: bionic
      name: Linux gcc 5
      python: 3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - CC=gcc-5
        - CXX=g++-5

    - os: linux
      dist: bionic
      name: Linux gcc 10
      python: 3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-10
      env:
        - CC=gcc-10
        - CXX=g++-10

    - os: linux
      dist: bionic
      name: Linux clang 5.0
      python: 3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-5.0
          packages:
            - clang-5.0
            - g++-5
      env:
        - CC=clang-5.0
        - CXX=clang++-5.0

    - os: linux
      dist: bionic
      name: Linux clang 10
      python: 3.8
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-10
          packages:
            - clang-10
            - g++-10
      env:
        - CC=clang-10
        - CXX=clang++-10


before_install:
  - ci/install_cmake.sh
  - export PATH="$HOME/cmake/bin:$PATH"
  - cmake --version
  - pip --version
  - pip install conan

install:
  - mkdir build
  - cd build
  - conan install .. -o build_testing=True
  - cmake .. -DBUILD_PYTHON=OFF -DBUILD_TESTING=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$HOME/proposal
  - cmake --build . -- VERBOSE=1 -j2
  - cmake --build . --target install
  - mkdir -p $HOME/.local/share/PROPOSAL/tables

script:
  - travis_wait 60 ctest -j2 --verbose -E "(Brems|Photo|Epair|Mupair)"

before_deploy:
  - |
    if [[ -z "$TRAVIS_PYTHON_VERSION" ]]; then
      git clean -fdx
      cd $TRAVIS_BUILD_DIR/..
      tar czf $HOME/PROPOSAL-$TRAVIS_TAG.tar.gz --exclude-vcs PROPOSAL
    fi
  - cd $TRAVIS_BUILD_DIR

deploy:
  - provider: releases
    token:
      secure: nWVAw2ifn2zkdDkeLLKgXZgWRo/A9Z6LL+0J8xCscKay6Jn4dJ01ODyT+KJGbsKXHMMvalJXDgE7A8c5x6RN+ljq+sEr9FIvxwXmV0npsZhoRBoCmQPrQ8JQO1+fyKcNv60Os9UuPBSGCwdoZ5oXkIMFRSt7CmPKagkgaom8u9Zs3rkKtXN9TUW1I5MOxrXJZPLepd1Hx8ZS7cejcZ2tyovcn56uG/LOR0RJstU1KShNIP58B4iV+jaiqEJnd0rtzDoc8LND0vdEmuVSAphb/DXOhDa0greiIOiXsVYfcfXda1vb+Uo/kafznfYs+8PnqOwQqom0oE3n6CTY+ffsvSbJrn9UQoAaHaC2XwyLSSRyy+5mJB6nhCi+oBHg+bvWnCmYf2RizuHHqpKB3c3TA9iQt1lxlrzPtxibykSXFbFRv6NjCN+wfxinFnIO2hUczPzHDmwFRLM5bzuQZ4j8Q6dV5X8UBiws0wOmkSRL0H4PB7UldqiP/qAV2XYT6V4l5cpaDlVGUOlSTheK1gejpbvJw256ggTuYo9/hBWPPwniUGXbMTeMViqSRRY3X0r9hz/zxvt7oECJGmsy2YmeLi2LnKVKaRWhsrIavlD9A167dNtrrYgflwPbVwe84lYlO2vJxTqTEygeZqMkOsT0myBYQi03xesJ3IBtiCMWgME=
    file: $HOME/PROPOSAL-$TRAVIS_BRANCH.tar.gz
    on:
      repo: tudo-astroparticlephysics/PROPOSAL
      tags: true
      condition: $CXX = g++-10
  - provider: pypi
    username: "__token__"
    skip_existing: true
    cleanup: false
    distributions: sdist
    password:
      secure: "FRZVY+N0WkUkuaQT+9O9j6YKTAFVOkzBZ8//Aq/kjvhMtwCDEOCugqX6F2PIAQLX/Sa3u/1eP+Uy4Bo6W5j34dP3zXgCeeGw9r/PAvk9A2wd5EQ/OqrdubmDnErvFaMwGuLF3HuSN0rVsrrGb74a6Ka9/O8ygP/ykSdaMv3gqmZmSDbAUri8c8KXFAaZ6lw13sFPFnpf9vTQ4OBjGLnYK7blqCljfSF5wdAuExBF9f5EwHKMPofplGP6I748+y5Yw68SgF1Qg61sTa+mm/tOBHMfQNRCqP7I3oc6DRcp77kVm0EZAkcUNOwpleHr9awC8eBwBr29Ju6PRz9DE7sLCGPYuEm2UKXtDK+L5gy2+oanrU3kbS5/YZJqgP7iJxEmyGR9id/AY2qAe934tzV9CKCGn7z/+BAoF/LhP4TopIvZy1R/4gWBp9DwYTR8RAmCrsfOyHHRRKnUsFg0d7OiNpmROidNRq1lQxyK4Fog+C1mfgc5kM92Popkf/IM2zT/jLm2cfXYFvx0trb4SCmoLQ060Tb6XwkyjuJ8lxTwbkvAI6mYNVLlDPJKX44adDymaDks841N5oMvb0jRS8o5wl+DsVjUnG7+kpy6ErfXXo8rI+ovHnHDB+SoWw+NZSr+52MnBlk0jKlLVWBhGhzHIwAzNLFc4XUQ5cxrtkyUsaw="
    on:
      repo: tudo-astroparticlephysics/PROPOSAL
      tags: true
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.8"
